<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

	<!-- reserveForm-START -->
	<bean name="reserveForm" class="com.asta.app2.webapp.action.ReserveForm" scope="conversation.access">
		<property name="serviceManager" 	ref="serviceManager"/>
		<property name="ticketManager" 		ref="ticketManager"/>
		<property name="ticketTempManager" 	ref="ticketTempManager"/>
		<property name="chairManager" 		ref="chairManager"/>
		<property name="passengerManager" 	ref="passengerManager"/>
		<property name="pathManager" 		ref="pathManager"/>
	</bean>
	
	<bean name="search" class="com.asta.app2.webapp.action.SearchForm" scope="conversation.access">
		<property name="serviceManager" ref="serviceManager"/>	
	</bean>

	<bean name="serviceList" class="com.asta.app2.webapp.action.ServiceList" scope="conversation.access">
		<property name="serviceManager" ref="serviceManager"/>	
	</bean>

	<bean name="sooratList" class="com.asta.app2.webapp.action.SooratList" scope="conversation.access">
		<property name="sooratManager" ref="sooratManager"/>
	</bean>

	<bean name="sooratPrivateForm" class="com.asta.app2.webapp.action.SooratPrivateForm" scope="conversation.access">
		<property name="sooratManager" 	ref="sooratManager"/>
		<property name="serviceManager" ref="serviceManager"/>
		<property name="settingManager" ref="settingManager"/>
		<property name="carKindManager" ref="carKindManager"/>
		<property name="driverManager" 	ref="driverManager"/>
	</bean>

	<bean name="lookupAccessProvider" class="com.asta.app2.webapp.action.LookupAccessProvider" scope="conversation.access">
		<property name="carKindManager" ref="carKindManager"/>
		<property name="carManager" 	ref="carManager"/>
		<property name="driverManager" 	ref="driverManager"/>
		<property name="pathManager" 	ref="pathManager"/>
		<property name="companyManager" ref="companyManager"/>
		<property name="userManager" 	ref="userManager"/>
	</bean>

	<bean name="sooratInnerForm" class="com.asta.app2.webapp.action.SooratInnerForm" scope="conversation.access">
		<property name="sooratManager" 	ref="sooratManager"/>
		<property name="serviceManager" ref="serviceManager"/>
		<property name="settingManager" ref="settingManager"/>
		<property name="ticketManager" 	ref="ticketManager"/>
		<property name="carKindManager" ref="carKindManager"/> 
		<property name="driverManager" 	ref="driverManager"/>
		<property name="insuranceSarneshinManager" ref="insuranceSarneshinManager"/>
		<property name="insuranceBadanehManager" ref="insuranceBadanehManager"/>  
	</bean>

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
</beans>