body2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
}

body3 {
   background: #eee;
}
.tabbedPane {
   vertical-align: top;
   border: thin solid Blue;
}
.tab {
   padding: 3px;
   border: thin solid CornflowerBlue;
   color: Blue;
}
.selectedTab {
   padding: 3px;
   border: thin solid CornflowerBlue;
   color: Blue;
   background: PowderBlue;
}